.no-forms {
  text-align: center;
  margin-top: 50px;
  color: #5e5656;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 5px;
  word-break: break-word;
  border: #5e5656 1px solid;
  background-color: #f1eded;
}
