#root {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgb(165, 165, 179) 25%,
    rgb(0, 7, 8) 100%
  );
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease-in-out;
}

a:hover {
  transform: translateY(-1.5px);
  color: gainsboro;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
