.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.page-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  border-radius: 15px;
}

.page-button:hover {
  background-color: #f0f0f0;
}

.page-button.active {
  background-color: #0a1d31;
  color: #fff;
}

.main.light .page-button {
  background-color: #0a1d31;
  color: #fff;
}
.main.light .page-button:hover {
  background-color: #0a1d31;
  color: #fff;
}
.main.light .page-button.active {
  background-color: #f0f0f0;
  color: #0a1d31;
}
