.button {
  border-radius: 10px;
  outline: none;
  color: white;
  background-color: #856666;
  border: none;
  transition: all 0.7s linear;
  font-size: 15px;
}
button h2{
margin-top: 15px;
}

.button:hover {
  cursor: pointer;
  color: #856666;
  background-color: rgb(235, 213, 18);  
}
