.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: clamp(40px, 10vw, 100px);
  font-weight: bold;
  width: 100%;
  color: #cd9595;
  z-index: -1;
  background-color: #021a36;
  padding: 0 10px;
  background-image: url('/star.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
