.flyout {
  padding: 20px 10px;
  max-width: 200px;
  display: block;
  border: 3px solid #e9e6e6;
  background-color: #180404;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  opacity: 1;
  transition: all 1s ease-in-out;
  transform: translateX(0);
}


.flyout.flyout_hidden {
  opacity: 0;
  transform: translateX(1000px);
}
.light .flyout {
  background-color: #e9e6e6;
  border: 3px solid #180404;
  color: black;
}
.flyout::after {
  content: '';
  position: absolute;
  right: -15px;
  top: -40px;
  width: 80px;
  height: 80px;
  background-image: url('../../../public/R2-D2.png');
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.selected {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.inner_flyout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.flyout_clear,
.flyout_download {
  background-color: #180404;
  border: 3px solid #e9e6e6;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.light .flyout_clear,
.light .flyout_download {
  background-color: #e9e6e6;
  border: 3px solid #180404;
  color: black;
}

.flyout_clear:hover,
.flyout_download:hover {
  background-color: #e9e6e6;
  border: 3px solid #180404;
  color: black;
}
.light .flyout_clear:hover,
.light .flyout_download:hover {
  background-color: #180404;
  border: 3px solid #e9e6e6;
  color: white;
}
