html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease-in-out;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

a:hover {
  transform: translateY(-1.5px);
  color: gainsboro;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #b2bfcc;
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 70px;
  height: calc(100vh - 70px);
}

.inner-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 320px;
  width: 100%;
}
.btn {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;
  color: #5e5656;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-top: 5px;
}

.btn:hover {
  transform: translateY(-1.5px);
  color: rgb(92, 49, 49);
  border: 2px solid rgb(15, 14, 14);
  background-color: #f9f9f9;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
