.not-found {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url('../vider.jpg') no-repeat center center / contain;
  background-color: #021a36;
  z-index: 4;
}

.not-found h2 {
  color: #bfc222;
  text-shadow:
    0 0 10px #814e0b,
    0 0 20px #bfc222,
    0 0 30px #bfc222,
    0 0 40px #bfc222,
    0 0 50px #bfc222,
    0 0 60px #bfc222,
    0 0 70px #bfc222;
}
