.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  width: 100%;
  align-self: flex-start;
}
main {
  width: inherit;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 1200px;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.result-item {
  text-align: center;
  border: 3px solid #180404;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.result-item:hover {
  transform: scale(1.1);
}
