.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  width: 100%;
  align-self: flex-start;
}

.main {
  width: inherit;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 1200px;
  text-align: center;
}
.wrapper_main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.light .result_item {
  border: 3px solid #e9e6e6;
  background-color: #555050;
  color: white;
}
.result_item {
  text-align: center;
  border: 3px solid #180404;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  font-weight: 600;
}
.link_result {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.result_item:hover {
  transform: scale(1.05);
}
