.details-person {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background-color: #555050;
  height: 100%;
  color: white;
}
.cross {
  position: absolute;
  display: block;
  right: 0;
  top: 2px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

.main.light .details-person {
  background-color: #e9e6e6;
  color: #180404;
}